# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\projekti-demo\Git-testing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
